@use 'variables' as v;

@mixin telefono {
    @media (min-width:v.$telefono) {
        .contenedor{
            width: 100px;
        }
    }
}

@mixin tablet {
    @media (min-width:v.$tablet) {
        .contenedor{
            width: 200px;
        }
    }
}

@mixin desktop {
    @media (min-width:v.$desktop) {
        .contenedor{
            width: 300px;
        }
    }
}

@mixin contenedor{
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}
@mixin grip($columnas, $gap:5rem){
    display: grid;
    grid-template-columns: repeat($columnas,1fr);
    gap: $gap;
}
@mixin resetear-lista{
    margin: 0;
    padding: 0;
}